<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <header class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://www.yugtoys.ru/upload/resize_cache/iblock/664/930_930_1/3mpl40b2w4ip5opu90v5a9dqllxh19pm.jpeg" alt="Bootstrap" height="100">
            </a>
            <h1>Магазин игрушек</h1>
        </div>
    </header>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand">Панель навигации</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
    <div class="bg-body-tertiary">
        <div class="container">
            <h2>Расскаже немного о нас</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos soluta illum nesciunt pariatur qui cumque quibusdam perferendis magni sequi nobis, impedit eius accusantium reprehenderit cupiditate tenetur numquam inventore natus quas! Ad optio,
                perspiciatis voluptatum inventore obcaecati iste assumenda hic earum excepturi eius incidunt. Vitae hic obcaecati impedit. Tempora, laborum saepe.</p>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>