<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} Не заполнено {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">

<!-- БАЗОВЫЙ ШАБЛОН -->
<body>

    <!-- заголовок -->
    <header class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/img/Logo.jpg" height="200">
            </a>
            <h1>Магазин всякой-всячины!</h1>
        </div>
    </header>

    <!-- меню -->
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand">Панель навигации</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
        <div class="container-fluid container">
            <ul class="nav nav-pills justify-content-end align-items-end">
                <li class="nav-item"><a href="/main/" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="/clothes/" class="nav-link">Одежда</a> </li>
                <li class="nav-item"><a href="/shoes/" class="nav-link">Обувь</a></li>
                <li class="nav-item"><a href="/toys/" class="nav-link">Игрушки</a></li>

                <br>
        </div>
    </nav>

    <!-- ОСНОВНОЙ КОНТЕНТ -->
    {% block content %} Страница не заполнена {% endblock %}

    <!-- FOOTER -->
    <footer class="container">
        <br><br>
        <h3>Приходите к нам!</h3>
        <p>2024 &copy; Все права защищены</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>