{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary container">
        <br>
        <h3 class="col-12 col-md-6 display-6">Добро пожаловать в интернет-магазин "Всякой всячины :-)"</h3>
        <h3>У нас вы можете купить одежду, обувь и игрушки</h3>
    </div>

    <!-- О НАС -->
    <div class="bg-body-tertiary container">
        <br>
        <div class="container">
            <h2>Расскажем немного о нас</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos soluta illum nesciunt pariatur qui cumque quibusdam perferendis magni sequi nobis, impedit eius accusantium reprehenderit cupiditate tenetur numquam inventore natus quas! Ad optio,
                perspiciatis voluptatum inventore obcaecati iste assumenda hic earum excepturi eius incidunt. Vitae hic obcaecati impedit. Tempora, laborum saepe.</p>
        </div>
    </div>
{% endblock %}