{% extends 'base.html' %} {% block title %} {{ super() }} - {{ title }} {% endblock %} {% block content %}

    <!-- ОБУВЬ - КАТЕГОРИИ ТОВАРОВ -->
    <h1 class="center blocks">ОБУВЬ</h1>
    <section class="center blocks">
        <div class="block-item">
            <img class="block-image " src="/static/img/обувь_1.jpg" alt="обувь для мужчин" height="200px">
            <div class="block-bg "></div>
            <div class="block-item-text ">
                <p class="block-text ">30% OFF</p>
                <h1 class="block-title ">FOR MEN</h1>
            </div>
        </div>
        <div class="block-item ">
            <img class="block-image " src="/static/img/обувь_2.jpg" alt="обувь для женщин" height="200px">
            <div class="block-bg "></div>
            <div class="block-item-text ">
                <p class="block-text ">HOT DEAL</p>
                <h1 class="block-title ">FOR WOMEN</h1>
            </div>
        </div>
        <div class="block-item ">
            <img class="block-image " src="/static/img/обувь_3.jpg" alt="" height="200px">
            <div class="block-bg "></div>
            <div class="block-item-text ">
                <p class="block-text ">NEW ARRIVALS</p>
                <h1 class="block-title ">FOR KIDS</h1>
            </div>
        </div>
    </section>

{% endblock %}