{% extends 'base.html' %} {% block title %} {{ super() }} - {{ title }} {% endblock %} {% block content %}

    <!-- ИГРУШКИ - КАТЕГОРИИ ТОВАРОВ -->
    <h1 class="center blocks">ИГРУШКИ</h1>
    <section class="center blocks">
            <img class="block-image " src="/static/img/игрушки_1.jpg" alt="" height="200px">
            <img class="block-image " src="/static/img/игрушки_2.jpg" alt="" height="200px">
            <img class="block-image " src="/static/img/игрушки_3.jpg" alt="" height="200px">
    </section>
{% endblock %}