{% extends 'base.html' %} {% block title %} {{ super() }} - {{ title }} {% endblock %} {% block content %}

<div class="row">
    <h2>Расскажем немного о нас</h2>
    <h3>Мы работаем с 2010 г.</h3>
    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit pariatur autem ipsum quia doloribus inventore veritatis recusandae deleniti placeat eos!</h3>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consectetur porro obcaecati maiores quos, ullam optio impedit inventore vitae odit repellat sapiente et unde ab facere, enim, dolore dicta voluptatibus exercitationem. Eaque, molestias,
        placeat inventore ad vitae, dignissimos possimus impedit nisi consequatur facere quam cum doloremque blanditiis quaerat? Dignissimos, dolorem?</h3>
</div>

{% endblock %}